/** {
    outline: 0.1px solid rgb(218, 93, 93);
}*/
/*----------圖片滑過旋轉---------------*/
.img_rotate:hover {
    /*cursor: default;*/
    transform: rotate(-2deg);
    transition: 0.5s;
}

.img_rotate:not( :hover ){
    transform: rotate(0deg);
    transition: 0.5s;
}

.p_fsz28 {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.2;
    color: #333;
    margin-top: 32px;
}

@media (max-width: 768px){
    .p_fsz28 {
        font-size: 24px;
    }
    
}

@media (max-width: 576px){
    .p_fsz28 {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
        color: #333;
        margin-top: 16px;
    }
    
}

/*.pd_80_0 {
    padding: 80px 0;
}*/

.reason {
    display: flex;
    /*align-items: center;*/
    flex-direction: row-reverse;
    justify-content: space-between;
}

.reason_sideleft {
    width: 47%;
    display: flex;
    align-items: center;
}

.reason_sideright {
    width: 47%;
}

@media (max-width: 576px) {
    .reason{
        flex-direction: column;
    }
    .reason_sideleft {
        width: 100%; 
    }

    .reason_sideright {
        width: 100%;
        margin-top: 24px;
    }
    
}

/*-----------------------------------*/
.traceability {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}

.traceability_sideleft {
    width: 47%;
    display: flex;
    align-items: center;
}

.traceability_sideright {
    width: 47%;
}

@media (max-width: 576px) {
    .traceability{
        flex-direction: column;
    }
    .traceability_sideleft {
        width: 100%; 
    }

    .traceability_sideright {
        width: 100%;
        margin-top: 24px;
    }
    
}

/*------------------------------------*/
.sustainability {
    display: flex;
    /*align-items: center;*/
    flex-direction: row-reverse;
    justify-content: space-between;
}

.sustainability_sideleft {
    width: 47%;
    display: flex;
    align-items: center;
}

.sustainability_sideright {
    width: 47%;
}

@media (max-width: 576px) {
    .sustainability{
        flex-direction: column;
    }
    .sustainability_sideleft {
        width: 100%; 
    }

    .sustainability_sideright {
        width: 100%;
        margin-top: 24px;
    }
    
}

/*-----------------------------------*/
.x100percent {
    display: flex;
    justify-content: center;
}

.x100percent_sideleft {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.x100percent_sideleft h2 {
    font-size: 80px;
    font-weight: 900;
}

.x100percent_sideright {
    display: flex;
    align-items: center;   
}

.x100percent_sideright p{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    color: #333;
}

@media (max-width: 576px) {
    .x100percent {
        flex-direction: column;
        align-items: center;
    }
    .x100percent_sideleft {
        margin-right: 0px;

    }

}

@media (max-width: 414px) {

    .x100percent_sideleft h2{
        font-size: 60px;
    }
    .x100percent_sideright p{
        font-size: 24px;
    }

}

/*-----------------------------------*/
.natural {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
}

.natural_sideleft {
    width: 47%;
    display: flex;
    align-items: center;
}

.natural_sideright {
    width: 47%;
}

@media (max-width: 576px) {
    .natural{
        flex-direction: column;
    }
    .natural_sideleft {
        width: 100%; 
    }

    .natural_sideright {
        width: 100%;
        margin-top: 24px;
    }
    
}


/*------------------------------------*/
.protein {
    display: flex;
    /*align-items: center;*/
    flex-direction: row-reverse;
    justify-content: space-between;
}

.protein_sideleft {
    width: 47%;
    display: flex;
    align-items: center;
}

.protein_sideright {
    width: 47%;
}

@media (max-width: 576px) {
    .protein{
        flex-direction: column;
    }
    .protein_sideleft {
        width: 100%; 
    }

    .protein_sideright {
        width: 100%;
        margin-top: 24px;
    }
    
}
